@model ReservationDetailsViewModel
@{
    ViewBag.Title = "Reservation details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card mb-3">
        <img src="@Model.ReservationImage" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Game Image">
        <div class="card-body">
            <h5 class="card-title">@Model.ReservationName</h5>
            <p class="card-text">Reservation date: @Model.DateTime</p>
            <p class="card-text"><small class="text-muted">Phone: @Model.PhoneNumber</small></p>
            <p class="card-text"><small class="text-muted">Your table: @Model.PlaceReservedName</small></p>
            <p class="card-text"><small class="text-muted">Boardgame reserved: @Model.BoardgameReservedName</small></p>
        </div>
        <a asp-area="" asp-controller="Reservation" asp-action="Mine" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Back tto My reservations</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}