@model IEnumerable<BoardgameActiveViewModel>

@{
	ViewData["Title"] = "Our games";
	var models = Model.ToList();
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="container">
	<div class="row">
		@foreach (var e in Model)
		{
			<div class="col-lg-3 col-xs-12">
				<div class="card mb-3">
					<img class="card-img-top" src="@e.CardImageUrl" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@e.Name</h5>
						<p class="card-text">Appropriate Age: @e.AppropriateAge+</p>
						<p class="card-text">Difficulty: @e.Difficulty</p>
						<p class="card-text">Rating: @e.Rating</p>
						<a asp-area="" asp-controller="Boardgame" asp-action="Details" asp-route-id="@e.Id"
						   class="btn btn-info mb-2 w-100 p-3 fw-bold">Details</a>
						   @if(User.IsInRole(AdminRole))
						{
							<a class="btn btn-warning mb-2 w-100 p-3 fw-bold" asp-area="Admin" asp-controller="Boardgame" asp-action="Edit" asp-route-id="@e.Id">Edit</a>
							<a class="btn btn-danger mb-2 w-100 p-3 fw-bold" asp-area="Admin" asp-controller="Boardgame" asp-action="Delete" asp-route-id="@e.Id">Delete</a>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>




