@model IEnumerable<CategoryBoardgameViewModel>

@{
	ViewData["Title"] = "Category boardgames";
	var models = Model.ToList();
}


<div class="container">
	<div class="row">
		<div class="text-center col-xs-12">Sorted by maximum players</div>
		<div class="col-xs-12 d-flex justify-content-end">
			<div class="w-50 my-3">
				<label for="sortSelect">Sort By:</label>
				<select class="form-control" id="sortSelect" onchange="location = this.value;">
					<option value="" selected disabled hidden>Choose here</option>
					<option value="SortByLowestRating">Lowest Rating</option>
					<option value="SortByHighestRating">Highest Rating</option>
					<option value="SortByLowestDifficulty">Lowest Difficulty</option>
					<option value="SortByHighestDifficulty">Highest Difficulty</option>
					<option value="SortByLowestPrice">Lowest price</option>
					<option value="SortByHighestPrice">Highest price</option>
					<option value="SortByMinPlayers">Minimum players allowed</option>
					<option value="SortByMaxPlayers">Maximum players allowed</option>
				</select>
			</div>
		</div>
		@foreach (var e in Model)
		{
			<div class="col-lg-3 col-xs-12">
				<div class="card mb-3">
					<img class="card-img-top" style="height: 300px; object-fit: contain;" src="@e.CardImageUrl" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@e.Name</h5>
						<p class="card-text">Appropriate Age: @e.AppropriateAge+</p>
						<p class="card-text">Difficulty: @e.Difficulty</p>
						<p class="card-text">Rating: @e.Rating</p>
						<p class="card-text">Price in shop: @e.PriceInShop lv.</p>
						<p class="card-text">Players: @e.MinimumPlayersAllowedToPlay - @e.MaximumPlayersAllowedToPlay</p>
						<a asp-area="" asp-controller="Boardgame" asp-action="Details" asp-route-id="@e.Id"
						   class="btn btn-info mb-2 w-100 p-3 fw-bold">Details</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>
